body {
  background: rgb(238, 237, 237);
  padding: 80px 0 0 0;
}

body,
input {
  font-family: "Caveat";
}

.noFill {
  fill: none;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgb(66, 129, 129);
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  -webkit-animation: headerAnimation 1s ease-in-out;
  -moz-animation: headerAnimation 1s ease-in-out;
  -ms-animation: headerAnimation 1s ease-in-out;
  -o-animation: headerAnimation 1s ease-in-out;
  animation: headerAnimation 1s ease-in-out;
}

@keyframes headerAnimation {
  from {width: 20%;}
  to {width: 100%;}
}

header input {
  width: 100%;
  height: 50px;
  /* color:#fff; */
  font-size: 30px;
  font-weight: 500;
  text-indent: 10px;
  padding: 0 60px 0 0;
  background: rgb(10, 121, 43);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /* text-indent: */
  /* border: 0; */
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

header input::-webkit-input-placeholder {
  color: lightgray;
}

header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border-radius: 25px;
  background: white;
  border: 0;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-animation: buttonAnimation 2s ease-in-out;
  -moz-animation: buttonAnimation 2s ease-in-out;
  -ms-animation: buttonAnimation 2s ease-in-out;
  -o-animation: buttonAnimation 2s ease-in-out;
  animation: buttonAnimation 2s ease-in-out;
}

@keyframes buttonAnimation {
  0% {border-radius: 0;}
  50% {border-radius: 0;}
  100% {border-radius: 25px;}
}

header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

header button svg .fill {
  fill: rgb(10, 121, 43);
}

.container {
  width: 100%;
  padding: 15px;
  
  -webkit-animation: containerAnimation 1s ease-out;
  -moz-animation: containerAnimation 1s ease-out;
  -ms-animation: containerAnimation 1s ease-out;
  -o-animation: containerAnimation 1s ease-out;
  animation: containerAnimation 1s ease-out;
}

@keyframes containerAnimation {
  from {width: 30%;}
  to {width: 100%;}
}

ul.todo {
  width: 100%;
}

ul.todo li {
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  background: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 3px 3px 2px 3px rgba(121, 173, 224, 0.1);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-wrap: break-word;
  overflow: visible;
}

ul.todo li {
  /* margin: 10; */

  -webkit-animation: listItemAnimation 0.6s ease;
  -moz-animation: listItemAnimation 0.6s ease;
  -ms-animation: listItemAnimation 0.6s ease;
  -o-animation: listItemAnimation 0.6s ease;
  animation: listItemAnimation 0.6s ease;
}

ul.todo#completed li {
  /* margin: 10; */
  text-decoration: line-through;

  -webkit-animation: listItemAnimation 0.6s ease-in-out;
  -moz-animation: listItemAnimation 0.6s ease-in-out;
  -ms-animation: listItemAnimation 0.6s ease-in-out;
  -o-animation: listItemAnimation 0.6s ease-in-out;
  animation: listItemAnimation 0.6s ease-in-out;
}

@keyframes listItemAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  
  background: none;
  position: relative;
  border: 0;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #edf0f1;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border-radius: 12px;
  border: 1.5px solid rgb(37, 185, 154);

  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -ms-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

ul.todo#completed li .buttons button.complete svg {
  background: rgb(37, 185, 154);
  border: 0;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: rgb(37, 185, 154);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: white;
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: white;
}

ul.todo li .buttons button svg .fill {
  transition: fill 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  -moz-transition: fill 0.3s ease-out;
  -ms-transition: fill 0.3s ease-out;
  -moz-transition: fill 0.3s ease-out;
}

ul.todo li .buttons button.remove svg .fill {
  fill: lightgrey;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: crimson;
}

ul.todo li .buttons button.complete svg .fill {
  fill: #25b99a;
}

ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

ul.todo#completed:before {
  content: "";
  width: 170px;
  height: 1px;
  border-radius: 100%;
  background: #aaa;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
  content: "You are free to plan whatever you want. C'mon, add something!";
  margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
  content: "You have done nothing, stop slacking around!";
}

ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
}